.env
.venv/
*.db
*.log
.db-wal
.db-shm

# Python bytecode and cached files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# IDE specific files
.idea/
.vscode/
*.swp